
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Jupyter Notebooks
Jupyter Notebooks/.ipynb_checkpoints/*
Jupyter Notebooks/__pycache__/*

# Process Monitor Replays
Process Monitor Replays/*

# XBOX ADPCM dir
XBOX ADPCM/*

# Extracted Audio
Sound/Levels/Extracted/
Sound/Levels/XboxADPCM.exe